.footer
{
	display: grid;
	grid-template-columns:repeat(2, 1fr) ;
	background: #696969;
	width: 80%;
	margin: 0 auto;
	
}



.page
{
	position: relative;
	min-height: 100%;
}


.ul_number
{
	list-style: none;
	padding-top: 2%;
	padding-left: 2%;
}

.ul_number_row
{
	color: #FFFFF0;
	padding: 1%;
}

.info
{
	color: #FFFFF0;
	padding: 5% 0% 2% 5%;
}
